@font-face {
    font-family: 'Montserrat';
    font-weight: 400 700 800 900;
    font-display: swap;
    src: url('/fonts/Montserratt.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400 500 600;
    font-display: swap;
    src: url('/fonts/Inter.woff2') format('woff2');
}
